# Compiled Object files
*.slo
*.lo
*.o
*.obj
build/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug/
bin/*

# Vim
*.swp

# Geneated docs via Doxygen
share/doc/*

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
#Makefile
cmake-build-debug
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
